/* Phần đầu định hình style cho web */
:root{
    --rounded:3.2%; /*tên biến global(đổi thông số = apply cho toàn bộ)*/
    --xanh: #00FFFF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    height: 100%;
    font-family: 'Roboto',sans-serif;
    background-color: cyan;
}
span{
    color: var(--xanh);
}
.middel_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middel_content h1{
    margin-top: 10px;
    text-align: center;
}



/* phần chân web */
.side-form{
   align-items: left;
}
.side-form form{

  display: grid;
  grid-template-columns: 200px 1fr 500px; 
  gap: 10px 200px; 
  margin: 60px 0;
  margin-top: 100px;
  width: 100%; 
  max-width: 1100px; 
  z-index: 0;
}
.side-form label{
    grid-column: 1;
    text-align: left;
}
.side-form input,select,button,label{
    grid-column: 1;
    padding: 10px;
    box-sizing:border-box;
}
.full-row{
    text-align: center;
}
#anonymous{
    width: 20px;
    height: 20px;
}

.report-text h1{
    text-align: center;
}
.report-text textarea{
    resize: none;
    width: 50rem;
    height: 30rem;
}

.report-text{
   grid-column: 2;
   grid-row: 1/13;
   align-items: center;
}
.report-attachment{
    text-align: center;
    grid-column: 2;
    grid-row: 13/15;
}
.info-group{
    border-left: 10px solid gray;
    padding:2rem;
    grid-column: 3;
    grid-row: 1/10;
}
.info-group p,li,ul{
    margin: 20px;
    font-size: 20px;
}
.info-group info-2,info-3{
    grid-column: 3;
}

.info-2,.info-3,.info-3{
    grid-column: 3;
    grid-row: 1/5;
}
.info-2{
    grid-row: 5/8;
}
.info-2 ol{
    margin-left: 2rem;
    grid-row: 5/8;
}
.info-3{
    grid-row: 8/10;
}




footer{
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.wrapper{
    margin: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Phần title bar */

.Title_bar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    align-items: center;
}
.title_item{
    width: 1000px;
    padding: 50px;
    border: 5px solid black;
    border-radius: 10px;
}


















/* phần navigation bar */

.navbar{
    position: absolute;
    width:100%;
    /* box-shadow: 0 0 10px gray; */
}
.navbar_list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin: 0 0px;
}

.navbar_list_logo{
    padding: 10px;
    list-style: none;
    border-radius: 20%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: right;
    
}
.navbar_list_logo:hover{
    transform: rotateY(180deg) translateX(100%);
}


/* phần box item */

.navbar_list_items {
  display: inline-block;
  position: relative;
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 24px 16px;
  cursor: pointer;
  display: inline-block; 
  z-index: 3;
}
.navbar_list_items:is(:hover,:focus) .nav_list_items_drops{
    opacity: 1;
    visibility: visible;
}
.navbar_list_items::after{
    content: "";
    width: 0;
    height: 4.8px;
    border-radius: var(--rounded);
    position: absolute;
    left: 16px;
    bottom: 12.8px;
    background-color: lightslategray;

    transition: width 200ms ease-in;
}
.navbar_list_items:hover::after{
    width: 100%;
}

/* phần bên trong box item */

.nav_list_items_drops{
    position: absolute;
    top: 64px;
    left: -16px;
    box-shadow: 0 0 10px lightgray;
    background-color: white;
    border-radius: var(--rounded);
    width: 192px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;

}
.nav_list_items_drops li{
   list-style: none;
   padding: 8px 16px;
   border-radius: var(--rounded);
   transition: background-color 200ms ease-in-out;
}
.nav_list_items_drops li:is(:hover,:focus){
  background-color: crimson;
}

